* { margin:0; padding: 0;}
body {
	background-image: url("../img/bg_ts.jpg");
}

.contenedor {
	width: 80%;
	border: 1px solid black;
	margin: auto;

}

h1 {
	margin: 1%;
}

.img {
	width: 100%;

}

.contenido {
	display: flex; flex-flow: wrap; margin: auto;

}

.txtpersonaje {
width: 45%;
float: right;

 
}

.imgpersonaje  {
   width: 40%;
   float: left;

}


.imgpersonaje img {
	border-radius: 50%;
	margin: 1%;
	width: 100%;
}

footer {
	position: relative
}

.data {
	position: absolute;
}



